.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:3px;padding: 10px 12px;color:#FFF;background:rgba(0,0,0,0.7);border:solid 1px rgba(0,0,0,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}.morris-hover-point{color: rgba(255, 255, 255, 0.9) !important;}
<!-- END VENDOR CSS-->
<!-- BEGIN STACK CSS-->


